<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= @room.starttime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @room.endtime %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @room.capacity %>
</p>

<p>
  <strong>Importance:</strong>
  <%= @room.importance %>
</p>

<p>
  <strong>Note:</strong>
  <%= @room.note %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @room.availability %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
