<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :Room_name %>
    <%= collection_select(:booking, :room_id, Room.all, :id, :room_name, {:prompt => "Select Room"}) %>
  </div>

  <div class="field">
    <p><%= form.label :Participants %>
    <%= form.number_field :participants, :class => 'text_field', in: 1..15 %> Members</p>
  </div>

  <div class="field">
    <%= form.label :Date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :Start %>
    <%= form.time_select :starttime, {prompt: true, prompt: {hour: "Select Time"}, :minute_step => 15, start_hour: 8, end_hour: 19, :ampm => true} %>
  </div>

  <div class="field">
    <p><%= form.label :End %>
    <%= form.time_select :endtime, {prompt: true, prompt: {hour: "Select Time"}, :minute_step => 15, start_hour: 8, end_hour: 19, :ampm => true} %>
  </div>

  <div class="field">
    <%= form.label :Importance %>
    <%= select_tag :importance, (options_for_select([['Normal', 1], ['Important', 2], ['Urgent', 3]]))%>

  </div>

  <div class="field">
    <%= form.label :Note %>
    <%= form.text_area :note, placeholder: "Reason For Meeting? \nParticipants?" %>
  </div>

  <div class="actions">
    <%= form.submit "Book Room" %>
  </div>
<% end %>
