<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :room_id %>
    <%= form.number_field :room_id %>
  </div>
  <!---- Checks if a user is admin, then lets them change the status from pending to booked ---->
  <% if current_user.isAdmin %>
    <%= form.label :room_status %>
    <%= form.text_field :room_status %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
