<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= form.label :Name %>
      <!-- Default value of textbox is User 1 if not logged in -->
      <!-- Otherwise if logged in the textbox will display only the user logged in -->
      <%= form.text_field :name, placeholder: "Please Enter A Name..." %>
    </div>

    <div class="field">
      <%= form.label :Email %>
      <%= form.text_field :email, placeholder: "example@spartaglobal.com?" %>
    </div>

  <div class="field">
    <%= form.label :Room_name %>
    <%= collection_select(:booking, :room_id, Room.all, :id, :room_name) %>
  </div>

    <div class="field">
      <p><%= form.label :Participants %>
      <%= form.number_field :participants, :class => 'text_field', in: 1..15 %> Members</p>
    </div>

  <div class="field">
    <%= form.label :Date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :Start %>
      <%= form.select(:starttime, options_for_select([['8am', 8], ['9am', 9], ['10am', 10],
        ['11am', 11], ['12pm', 12], ['1pm', 13], ['2pm', 14],
        ['3pm', 15], ['4pm', 16], ['5pm', 17], ['6pm', 18]])) %>
  </div>

  <div class="field">
    <p><%= form.label :End %>
      <%= form.select(:endtime, options_for_select([['8am', 8], ['9am', 9], ['10am', 10],
        ['11am', 11], ['12pm', 12], ['1pm', 13], ['2pm', 14],
        ['3pm', 15], ['4pm', 16], ['5pm', 17], ['6pm', 18]])) %>
  </div>

  <div class="field">
    <%= form.label :Importance %>
    <%= form.select(:importance, options_for_select([['Normal-!', '!'], ['Important-!!', '!!'],
      ['Urgent-!!!', '!!!']]), {:prompt => "Select Importance"}) %>
  </div>

  <div class="field">
    <%= form.label :Category %>
    <%= form.select(:category, options_for_select([['Team Huddle', 'Team Huddle'], ['Client Interview', 'Client Interview'],
      ['Team Meeting', 'Team Meeting'], ['Executive Meeting', 'Executive Meeting'], ['Phone Interview', 'Phone Interview']]), {:prompt => "Select Category"} )%>
  </div>

    <div class="field">
      <%= form.label :Additional_Note %>
      <%= form.text_area :note, placeholder: "Reason For Meeting? \nParticipants?" %>
    </div>

  <div class="actions">
    <%= form.submit "Book Room" %>
  </div>

<% end %>
