<%= stylesheet_link_tag "bookings" %>

<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form_box">
    <div class="field">
        <%= form.label :Name, class:"namefield" %>
        <!-- Default value of textbox is User 1 if not logged in -->
        <!-- Otherwise if logged in the textbox will display only the user logged in -->
        <%= form.text_field :name, placeholder: "Please Enter A Name...", class: "userinput" %>
      </div>

      <div class="field">

        <%= form.label :Email, class:"namefield"%>
        <%= form.text_field :email, placeholder: "example@spartaglobal.com?", class: "userinput" %>
      </div>

      <div class="field">
        <%= form.label :Room_name, class:'roomfield' %>
        <%= collection_select(:booking, :room_id, Room.all, :id, :room_name) %>
      </div>

        <div class="field">
          <p><%= form.label :Participants, class:'participantsfield' %>
          <%= form.number_field :participants, :class => 'text_field', in: 1..15 %> Members</p>
        </div>

    <div class="field">
      <%= form.label :Start, class:"startfield" %>
      <%= form.select(:starttime, options_for_select([['8am', 8], ['9am', 9], ['10am', 10],
        ['11am', 11], ['12pm', 12], ['1pm', 13], ['2pm', 14],
        ['3pm', 15], ['4pm', 16], ['5pm', 17], ['6pm', 18]], :selected => @booking.starttime)) %>
    </div>

    <div class="field">
      <p><%= form.label :End, class:"endfield"%>
        <%= form.select(:endtime, options_for_select([['8am', 8], ['9am', 9], ['10am', 10],
          ['11am', 11], ['12pm', 12], ['1pm', 13], ['2pm', 14],
          ['3pm', 15], ['4pm', 16], ['5pm', 17], ['6pm', 18], ['7pm', 19]], :selected => @booking.starttime + 1)) %>
    </div>

    <div class="field">
      <%= form.label :Importance, class:"importancefield"%>
      <%= form.select(:importance, options_for_select([['Normal-!', '!'], ['Important-!!', '!!'],
        ['Urgent-!!!', '!!!']]), {:prompt => "Select Importance"}) %>
    </div>

    <div class="field">
      <%= form.label :Category, class:"categoryfield" %>
      <%= form.select(:category, options_for_select([['Face-to-Face Interview', 'Face-to-Face Interview'], ['Phone Interview', 'Phone Interview'],
        ['Mock exams', 'Mock exams'], ['Exams', 'Exams'], ['Presentation Rehersal', 'Presentation Rehersal'],
        ['1-On-1', '1-On-1'], ['Client Visit', 'Client Visit'], ['Management Meeting', 'Management Meeting'],
        ['Sparta Day', 'Sparta Day'], ['Other', 'Other']]), {:prompt => "Select Category"} )%>
    </div>

    <div class="field">
      <%= form.label :Additional_Notes %>
      <%= form.text_area :note, placeholder: "Additional Notes About The Meeting..." %>
    </div>

    <% if user_signed_in? && current_user.id ==2%>
    <div class="field">
      <%= form.label :Status %>
      <%= form.select(:status, options_for_select([['AVAILABLE', 'AVAILABLE'], ['PENDING', 'PENDING'],
        ['BOOKED', 'BOOKED']]), {:prompt => "Select status"} )%></div>
      <%end%>
      <div class="actions day_label">

        <%= form.submit "Book Room", class: "userinput" %>



    </div>
  </div>







<% end %>
