<%= stylesheet_link_tag "bookings" %>
<p id="notice"><%= notice %></p>


<h1>Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Zelda</th>
      <th>Mario</th>
      <th>Pac-Man</th>
      <th>Frogger</th>
      <th>Cortana</th>
      <th>Tetris</th>
      <th>Breakout</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
        <td><%= booking.room.room_name %><%= booking.user_id %></td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path %>
